* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
}

@media (max-width: 992px) {
  #header .header {
    width: 90%;
  }
  #header .header--title {
    display: none;
  }
}
@media (max-width: 768px) {
  #hero .hero {
    flex-direction: column;
  }
  #hero .hero img {
    width: 90%;
  }
  #block .block--fearatues {
    width: 280px;
    height: 240px;
  }
}
@media (max-width: 576px) {
  #footer .about {
    display: flex;
    flex-direction: column;
  }
  #block .circle {
    display: none;
  }
  #block .sircle {
    display: none;
  }
  #block .block {
    display: flex;
    flex-wrap: wrap;
    padding: 0 !important;
  }
  #time .cirkle {
    display: none;
  }
  #time .time {
    display: flex;
    flex-direction: column;
  }
  #time .time h1 {
    padding-bottom: 50px;
    text-align: center;
  }
  #time .time--title .btn--one {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  #faq .circle {
    display: none;
  }
  #faq .faq {
    display: flex;
    flex-direction: column;
  }
  #footer .about {
    display: flex;
    flex-direction: column;
    margin-left: 55px;
  }
  #footer .about--block h1 {
    margin-top: 50px;
  }
}
@media (max-width: 451px) {
  #hero .hero--block p {
    width: 40px;
  }
}
@media (max-width: 425px) {
  #footer .about {
    display: flex;
    flex-direction: column;
  }
  #block .circle {
    display: none;
  }
  #block .sircle {
    display: none;
  }
  #block .block {
    display: flex;
    flex-wrap: wrap;
    padding: 0 !important;
  }
  #time .cirkle {
    display: none;
  }
  #time .time {
    display: flex;
    flex-direction: column;
  }
  #time .time h1 {
    padding-bottom: 50px;
    text-align: center;
  }
  #time .time--title .btn--one {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  #faq .circle {
    display: none;
  }
  #faq .faq {
    display: flex;
    flex-direction: column;
  }
  #footer .about {
    display: flex;
    flex-direction: column;
    margin-left: 55px;
  }
  #footer .about--block h1 {
    margin-top: 50px;
  }
}
#header {
  height: 80px;
  background: black;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
#header .header--block {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header--block__icon {
  color: aliceblue;
  font-size: 23px;
  padding: 0 15px;
}
#header .header--block h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #FFFFFF;
}
#header .header--title a {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 30px;
  transition: 0.4s;
}
#header .header--title a:hover {
  transform: scale(1.1);
  color: #6016FC;
}
#header .header button {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  transition: 0.4s;
  padding: 10px 30px;
}
#header .header button:hover {
  background: #FFFFFF;
  color: black;
  transform: scale(1.1);
}

#hero {
  background: black;
  padding-top: 50px;
}
#hero h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #16FCD2;
}
#hero p {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #FFFFFF;
}
#hero .hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#hero .hero img {
  padding: 20px 0;
}
#hero .hero--block__title {
  display: flex;
  align-items: center;
}
#hero .hero--block__title--port {
  width: 8px;
  height: 8px;
  left: 730px;
  top: 839px;
  background: #FFFFFF;
  transform: matrix(1, 0, 0, -1, 0, 0);
  margin: 0 15px;
}
#hero .hero--block__title h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}
#hero .hero--block p {
  width: 390px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
  padding: 30px 0;
}

#block {
  background: black;
  padding-top: 160px;
}
#block h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #16FCD2;
}
#block p {
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}
#block .block {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 150px 40px;
}
#block .block--fearatues {
  width: 280px;
  height: 240px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
  margin: 20px 20px;
}
#block .block--fearatues__lolo {
  font-size: 35px;
  color: #FFFFFF;
  padding-left: 30px;
}
#block .block--fearatues h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  padding-right: 90px;
  margin-top: 10px;
}
#block .block--fearatues p {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  padding-right: 50px;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.6);
}
#block .sircle {
  width: 55.09px;
  height: 55.09px;
  background: linear-gradient(180deg, #66FFA3 0%, #009C3E 100%);
  filter: blur(5px);
  transform: rotate(-34.72deg);
  border-radius: 50px;
  margin-left: 1000px;
}
#block .sircle--two {
  width: 46.94px;
  height: 46.94px;
  left: 265.48px;
  top: 2077.21px;
  margin-left: 250px;
  border-radius: 50px;
  background: linear-gradient(180deg, #FF81A6 0%, #FC165B 100%);
  filter: blur(5px);
  transform: rotate(-34.72deg);
}

#faq {
  background: black;
}
#faq h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #16FCD2;
}
#faq p {
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}
#faq .circle {
  width: 29.85px;
  height: 29.85px;
  left: 1225.89px;
  top: 2171.89px;
  border-radius: 50px;
  background: #6016FC;
  filter: blur(5px);
  transform: rotate(-34.72deg);
  margin-left: 1200px;
}
#faq .faq {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
}
#faq .faq--block__title h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 48px;
  color: #FFFFFF;
  padding-top: 30px;
}
#faq .faq--block__title p {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
}
#faq h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 90px;
}
#faq h2 span {
  color: #6016FC;
}

#time {
  background: black;
}
#time .cirkle {
  width: 46.94px;
  height: 46.94px;
  left: 1299px;
  top: 3050.74px;
  border-radius: 50px;
  background: linear-gradient(180deg, #FF81A6 0%, #FC165B 100%);
  filter: blur(5px);
  transform: rotate(-34.72deg);
  margin-left: 1300px;
}
#time .time {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
}
#time .time h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  color: #FFFFFF;
}
#time .time--title .btn--one {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 55px;
  background: #6016FC;
  border-radius: 3px;
  transition: 0.4s;
  cursor: pointer;
  border: none;
}
#time .time--title .btn--one:hover {
  color: #6016FC;
  background: #FFFFFF;
  transform: scale(1.1);
}
#time .time--title .btn--two {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 15px 55px;
  gap: 10px;
  transition: 0.4s;
  cursor: pointer;
  border: none;
  margin-left: 10px;
}
#time .time--title .btn--two:hover {
  color: #FFFFFF;
  background: #6016FC;
  transform: scale(1.1);
}
#time .outline {
  width: 55.09px;
  height: 55.09px;
  left: 79px;
  top: 3276.37px;
  border-radius: 50px;
  background: linear-gradient(180deg, #66FFA3 0%, #009C3E 100%);
  filter: blur(5px);
  transform: rotate(-34.72deg);
  margin-top: 50px;
}

#footer {
  background: black;
  padding: 100px 36px;
}
#footer .about {
  display: flex;
  justify-content: space-around;
  align-items: start;
}
#footer .about--title__block {
  display: flex;
}
#footer .about--title__block h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.4s;
  cursor: pointer;
}
#footer .about--title__block h1:hover {
  color: #1bea83;
}
#footer .about--title a {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.4s;
  cursor: pointer;
}
#footer .about--title a:hover {
  color: coral;
}
#footer .about--block {
  display: flex;
  flex-direction: column;
}
#footer .about--block h1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding-bottom: 25px;
  transition: 0.4s;
  cursor: pointer;
}
#footer .about--block h1:hover {
  color: coral;
}
#footer .about--block a {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.4s;
  cursor: pointer;
}
#footer .about--block a:hover {
  color: #68d292;
}

/*# sourceMappingURL=style.css.map */
